@import "styles/_base";

.item:first-child
  border-top-width 0

// always fullscreen
.modal
  top 0
  bottom 0
  left 0
  right 0
  width 100%

#video-container
  position relative

#video-container>canvas, #video-container>video
  top 0
  left 0
  width 100%
  max-width 100%

#video-container>canvas
  height auto

#video-container>video
  position absolute
  height 100%
